<!DOCTYPE html>
{% extends "header.html" %}

{% block title %}(Edit) {{ product.name }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/product_edit.css">
{% endblock %}

{% block content %}
<div class="col-lg-8 border p-3 main-section bg-white">
    <div class="row hedding m-0 pl-3 pt-0 pb-3">
        {{ product.name }}
    </div>
    <div class="row m-0">
        <div class="col-lg-4 left-side-product-box pb-3">
            <img src="{{ product.image_url.0 }}" class="border p-3">
            <span class="sub-img">
            {% for image in product.image_url[1:] %}
                <img src="{{ image }}" class="border p-2">
            {% endfor %}
            </span>
        </div>
        <div class="col-lg-8">
            <div class="right-side-pro-detail border p-3 m-0">
                <div class="row">
                    <div class="col-lg-12">
                        <span>{{ product.brand }}</span>
                        <p class="m-0 p-0">{{ product.name }}</p>
                    </div>
                    <div class="col-lg-12">
                    {% if product.price_promo != 0 %}
                        <p class="m-0 p-0 price-pro">{{ product.price_promo }}</p>
                    {% else %}
                        <p class="m-0 p-0 price">{{ product.price }}</p>
                    {% endif %}
                        <hr class="p-0 m-0">
                    </div>
                    <div class="col-lg-12 pt-2">
                        <h5>Description</h5>
                        <span>{{ product.description }}</span>
                        <hr class="m-0 pt-2 mt-2">
                    </div>
                    <div class="col-lg-12">
                        <h6>Code :</h6>
                        <h6 type="number" class="text-center w-100">{{ product.code }}</h6>
                    </div>
                    <div class="col-lg-12">
                        <form action="{{ url_for('product_edit', code=product.code) }}" method="post">
                            <strong>Quantity : </strong><input type="text" name="stock" placeholder="{{ product.stock }}"><br>
                            <div class="input-group mt-3">
                                <input type="submit" class="btn btn-success w-100" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
